header {
    background-color: black;
    color: white;
    font-size: 2rem;

    
    .nav-link {
      color: white;
      display: block;
      padding: 0.25rem 1rem;
  
      &:hover {
        color: rgb(255, 251, 0);
      }
  
      &.active {
        background-color: rgb(255, 251, 0);
        color: rgb(0, 0, 0);
      }
    }
  
    .dropdown-menu {
      padding: 2;
      margin: 1;
      font-size: large;
  
      .dropdown-item{
        color: rgb(19, 19, 17);
        padding: 0.5rem 1rem;
  
        &:hover {
          background: rgb(255, 251, 0);
          color: rgb(8, 8, 8);
        }
      }
    }
  }

  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  