<header class="sticky-top">
    <nav class="navbar navbar-expand-lg" role="navigation">
      
      <button aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation" class="navbar-toggler"
              data-target="#navbarContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbarContent">
        <ul class="nav navbar-nav" routerLinkActive="active">
          <a href="/home" class="title">
          <h1 style="font-family: 'Courier New', Courier, monospace">Bitcoin Neva Die</h1>
          </a>
   
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/home" routerLinkActive="active">
              HOME
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
               data-target="#navbarContent.collapse.show" data-toggle="collapse"
               routerLink="/exchange-rate" routerLinkActive="active">
              TỶ GIÁ
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               routerLink="/instructio" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              HƯỚNG DẪN
            </a>
            <div class="dropdown-menu" >
                <a class="dropdown-item" href="#" >Bitcoin (BTC)</a> 
                <a class="dropdown-item" href="#"> Ethereum (ETH)</a> 
                <a class="dropdown-item" href="#"> USDT</a> 
                <a class="dropdown-item" href="#" >Ripple (XRP)</a> 
                <a class="dropdown-item" href="#"> Litecoin (LTC)</a> 
                <a class="dropdown-item" href="#"> Coin khác</a> 
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link"
               data-target="#navbarContent.collapse.show" data-toggle="collapse"
               routerLink="/exchange" routerLinkActive="active">
              SÀN GIAO DỊCH
            </a>
          </li>

          <li  class="nav-item">
            <a class="nav-link"
               data-target="#navbarContent.collapse.show" data-toggle="collapse"
               routerLink="/invest" routerLinkActive="active">
              ĐẦU TƯ
            </a>
          </li>

          <li class="nav-item" >
            <a class="nav-link"
               data-target="#navbarContent.collapse.show" data-toggle="collapse"
               routerLink="/wallet" routerLinkActive="active">
              VÍ 
            </a>
          </li>

          <li class="nav-item" >
            <a class="nav-link"
               data-target="#navbarContent.collapse.show" data-toggle="collapse"
               routerLink="/trading" routerLinkActive="active">
              TRADING
            </a>
          </li>

          <li class="nav-item" >
            <a class="nav-link"
               data-target="#navbarContent.collapse.show" data-toggle="collapse"
               routerLink="/knowledge" routerLinkActive="active">
              KIẾN THỨC
            </a>
          </li>

        </ul>
      </div>
      <!-- social media icon -->
      <a href="https://fb.com/quangvuong99" target="blank">
      <button type="button" class="btn btn-outline-warning"><i class="fab fa-facebook"></i></button>
      </a>
      <a href="https://t.me/bitcoinevadie" target="blank">
        <button type="button" class="btn btn-outline-warning"><i class="fab fa-telegram"></i></button>
      </a>

      <a href="#" target="blank">
        <button type="button" class="btn btn-outline-warning"><i class="fab fa-twitter"></i></button>
      </a>

      <a href="#" target="blank">
        <button type="button" class="btn btn-outline-warning"><i class="fab fa-instagram"></i></button>
      </a>
      
      

    
    </nav>

  </header>
  