<div id="emptyDivToPadBeforeFooterOnShortPage"></div>
<footer class="mt-5" >
    <h2 class="col-sm">ABOUT US
  <div class="container p-3">
    <h4 style="font-family: 'Courier New', Courier, monospace;">
    Bitcoin Neva Die - Trang tin tức và chia sẻ kiến thức về Blockchain & Tiền điện tử miễn phí hàng đầu Việt Nam. Chúng tôi sẽ cập nhật tin tức hàng ngày mới nhất 24/7, 
    các bài viết được dịch từ các trang Blog về Crypto uy tín trên thế giới.
    </h4>
    <br>
    <h4 style="font-family: 'Courier New', Courier, monospace;">
        Liên hệ:
        <nav class="navbar navbar-expand-lg" role="navigation">
            <a class="nav-link" href="https://fb.com/quangvuong99" target="blank">Facebook </a>
            <a class="nav-link" hreft="https://t.me/bitcoinnevadie" target="blank">Telegram </a>
            <a class="nav-link" href="" target="blank">Twitter </a>
            <a class="nav-link" hreft="" target="blank">Instagram</a>
        </nav>

    </h4>
    <div style="font-size: 2rem;">
        <i class="fab fa-facebook-f fa-fw blue-text"></i>
    </div>

       

        
    <div class="text-center pt-5"><h4 style="font-family: 'Courier New', Courier, monospace;">&copy; 2020 BitcoinNevaDie CopyRight</h4>
    </div>
  </div>
</h2>
</footer>
