<div class="container">
    <h1 style="text-align:center; font-size: 27px;">
        <span style="color: blueviolet;">
        <strong>Tỷ giá của 2000+ đồng tiền điện tử (Coin) mới nhất trong ngày hôm  nay</strong>
        </span>
    </h1>
    <br>
    <p style="font-size: medium;">
        Bảng tỷ giá mới nhất ngày hôm nay của 2.000+ đồng tiền ảo
        (Coin, tiền kỹ thuật số, tiền điện tử, hay tiền mã hóa) Bitcoin (BTC), Bitcoin cash (BCH), 
        Litecoin (LTC), Ethereum (ETH), Ripple (XRP), EOS, Stellar (XLM), Monero (XRM), IOTA (MIOTA),
        Ethereum Classic (ETC), NEMcoin (XEM), Cardano (ADA), TRON (TRX), Dashcoin (DASH),.. 
        <a href="#">Bitcoin Neva Die</a> cập nhật tỷ giá hiện tại các đồng coin này theo thời gian thực (Real Time), 
        có nghĩa là giá các đồng tiền này bất cứ lúc nào có biến động tăng/giảm thì bảng dưới đây cũng 
        cập nhật ngay lập tức, vì thế tỷ giá này là chính xác hoàn toàn. 
        Tỷ giá USD theo thị trường tự do tiền ảo là 23.700 VNĐ (Bán), 23.400 VNĐ (Mua)
    </p>
    <p></p>
    <li>
        <span style="color: brown; font-size: large;">
            <strong>Mẹo: Để tìm thấy coin bạn muốn nhanh nhất, hãy nhập tên hoặc ký hiệu của coin đó vào ô
                 “Tìm kiếm” dưới đây. Xin vui lòng chờ vài giây để bảng tỷ giá load dữ liệu!!!.</strong>
        </span>
    </li>
    <div id="cryptocurrency-market-cap-wrapper">
        <script id="cmc_curr_list" type="application/json">
            {"USD":"&#36;","JMD":"J&#36","AUD":"&#36;","BRL":"R&#36;","CAD":"C&#36;",
            "CZK":"K&#269;","DKK":"kr","EUR":"&euro;","HKD":"&dollar;","HUF":"Ft",
            "ILS":"&#x20aa;","INR":"&#8377;","JPY":"&yen;","MYR":"RM","MXN":"&#36;","NOK":"kr",
            "NZD":"&#36;","PHP":"&#x20b1;","PLN":"&#122;&#322;","GBP":"&pound;","SEK":"kr",
            "CHF":"Fr ","TWD":"NT&#36;","THB":"&#3647;","TRY":"&#8378;","CNY":"&yen;",
            "KRW":"&#8361;","RUB":"&#8381;","SGD":"S&dollar;","CLP":"&dollar;","IDR":"Rp ",
            "PKR":"\u20a8 ","ZAR":"R ","BTC":"&#579;"}
        </script>
        <div class="cmc_price_conversion">
            <select id="cmc_usd_conversion_box" class="cmc_convsersions">
                <option selected="selectd" data-currency-symbol="$" data-currency-rate="1" value="USD">USD</option>
                <option data-currency-symbol="$" data-currency-rate="1.561088" value="AUD">AUD</option>
                <!-- select fiat you want to view -->
            </select>
        </div>


    </div>


</div>


